---
title: Home Page
layout: mobile
fulltitle: Studio Paradise
excerpt: Studio Paradise
---

<div class="mobile">
	{% assign projects = site.projects | sort: "position" %}
	{% for project in projects %}
		<a class="mobile-project mobile-project--index" href="{{ project.url }}">
			{% for module in project.modules limit: 1 %}
				{% include render_module.html mobile=true %}
			{% endfor %}
		</a>
	{% endfor %}
	<div class="mobile__contact">
		<div class="mobile__contact-header">
			Contact
		</div>
		<a class="mobile__email-address" href="mailto:hello@studioparadise.com">
			hello@studioparadise.com
		</a>
		<div class="mobile__addresses">
			<div class="mobile__address">
				Sydney<br>
				Suite 4, Level<br>
				1137 Bridge Rd<br>
				Glebe NSW 2037<br>
				+61 2 9518 4443<br>
			</div>
			<div class="mobile__address">
				New York<br>
				153 Centre St <br>
				Suite 206<br>
				New York NY 10013  <br>
				+1 917 363 8971<br>
			</div>
		</div>
		<div class="mobile-social">
			<div class="mobile-social__item">
				<a href="http://instagram.com/{{ site.instagram }}" target="_blank">
					{% include svg.html type='instagram' %}
				</a>
			</div><div class="mobile-social__item">
				<a href="http://linkedin.com/company/{{ site.linkedin }}" target="_blank">
					{% include svg.html type='linkedin' %}
				</a>
			</div><div class="mobile-social__item">
				<a href="http://twitter.com/{{ site.twitter }}" target="_blank">
					{% include svg.html type='twitter' %}
				</a>
			</div>
		</div>
	</div>
</div>