---
title: Studio
layout: mobile
fulltitle: Studio Paradise
excerpt: Studio Paradise
---

<div class="studio" js-controller="mobileStudio">
	<div class="studio__spacer">
		&nbsp;
	</div>
	<div class="studio__content" js-controller="">
		<div class="relative">

			{% include studio_manifesto.html %}
			{% include studio_different.html %}
			{% include studio_what.html %}
			{% include studio_team.html %}
			{% include studio_how.html %}
			{% include studio_clients.html %}


			<div class="studio__services studio__services--2up" js-scrollspy="clients">
				<div class="studio__services-column">
					<div class="style-studio-header  studio__service-header">
						Who We Work With
					</div>
				</div>
				<div class="studio__services-column">
					<div class="studio__service-clients">
						{% for client in site.studio.clients %}
							<a class="studio__service-client" target="_blank"
								{% if client.project %}js-project-link="{{ client.project | slugify }}"{% endif %}
							>
								{{ client.name }}
							</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


