---
title: Journal
layout: mobile
fulltitle: Studio Paradise
excerpt: Studio Paradise
---

<div js-index-content="journal">
	<div class="content container">
		<div class="index-journal">
			{% assign posts = site.journals %}

			{% for post in posts reversed %}
			    {% capture month %}{{ post.date | date: '%Y %b' }}{% endcapture %}
			    {% capture nmonth %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}
			    {% if month != nmonth %}
					<div class="index-journal__month" js-scrollspy="{{ post.date | date: '%Y-%B' }}">
				{% endif %}
				<div class="index-journal__journal {% if images.size > 0 %}with-image {% endif %}">
					<div class="index-journal__header">
						<div class="index-journal__date">
							{{ post.date | date: "%B %d %Y" }}
						</div>
						{% unless post['hide-title'].size > 1 %}
							<h1 class="index-journal__title">
								{{ post.title }}
							</h1>
						{% endunless %}
					</div>

					<img class="index-journal__hero-img" src="{{ post['image'] }}" />

					{% if post.content.size > 5 %}
						<div class="row">
							<div class="index-journal__content">
								{{ post.content }}
							</div>
						</div>
					{% endif %}

					{% if images.size > 0 %}
						{% for image in images %}
							{% if image.image != '' %}
								<img class="index-journal__img lazyload" data-src="{{ image.image }}" alt="{{ image.alt | default: '' }}" />
							{% endif %}
						{% endfor %}
					{% endif %}
				</div>
			    {% if month != nmonth %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>