<footer class="footer" js-controller="footer">
	<div class="footer__container">
		<div class="row">
			<a class="footer__email-address" href="mailto:hello@studioparadise.com">
				hello@studioparadise.com
			</a>
			<div class="footer__contact" js-footer-show>
				Contact
			</div>
			<div class="footer__spacer">
				&nbsp;
			</div>
			<div class="footer__spacer">
				&nbsp;
			</div>
			<div class="footer__address1">
				Sydney<br>
				Suite 4, Level<br>
				1137 Bridge Rd<br>
				Glebe NSW 2037<br>
				+61 2 9518 4443<br>
			</div>
			<div class="footer__address2">
				New York<br>
				153 Centre St <br>
				Suite 206<br>
				New York NY 10013  <br>
				+1 917 363 8971<br>
			</div>
			<div class="footer__spacer">
				&nbsp;
			</div>
			<div class="footer__email">
				<div class="footer-signup">
					<div class="footer-signup__title">
						Newsletter Sign Up
					</div>
					<div class="footer-signup__input-wrapper">
						<input type="text" class="footer-signup__input" />
					</div>
				</div>
				<div class="footer-social">
					<div class="footer-social__item">
						F
					</div>
					<div class="footer-social__item">
						In
					</div>
					<div class="footer-social__item">
						T
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
