<div class="footer-contact index-enter-element index-enter-element--from-left" js-footer-show>
	Contact
</div>

<footer class="footer" js-controller="footer">
	<div class="footer__container">
		<div class="row">
			<a class="footer__email-address" href="mailto:hello@studioparadise.com">
				hello@studioparadise.com
			</a>
			<div class="footer__spacer">
				&nbsp;
			</div>
			<div class="footer__spacer">
				&nbsp;
			</div>
			<div class="footer__address1">
				29160 Heathercliff Road<br>
				#6048<br>
				Malibu CA 90265<br>
				<!-- Sydney<br>
				115 Regent St<br>
				Chippendale NSW 2008<br>
				Australia<br>
				+61421349151<br> -->
			</div>
			<div class="footer__address2">
				New York<br>
				153 Centre St <br>
				Suite 206<br>
				New York NY 10013  <br>
				+1 347 989 7652
			</div>
			<div class="footer__spacer footer__spacer--2">
				&nbsp;
			</div>
			<div class="footer__email">
				<form class="footer-signup" js-component="mailchimp" action="//studioparadise.us9.list-manage.com/subscribe/post?u=3086fe329023e91f1b8ea55b1&amp;id=994fa81707">
					<div class="footer-signup__input-wrapper">
						<input type="email" class="footer-signup__input" placeholder="Newsletter Sign Up"/>
						<div class="footer-signup__submit" js-newsletter-submit>
							{% include svg.html type="arrow--right" %}
						</div>
					</div>
					<div class="footer-signup__error" js-newsletter-error></div>
				</form>
				<div class="footer-social">
					<div class="footer-social__item">
						<a href="http://instagram.com/{{ site.instagram }}" target="_blank">
							{% include svg.html type='instagram' %}
						</a>
					</div><div class="footer-social__item">
						<a href="http://linkedin.com/company/{{ site.linkedin }}" target="_blank">
							{% include svg.html type='linkedin' %}
						</a>
					</div><div class="footer-social__item">
						<a href="http://behance.net/{{ site.behance }}" target="_blank">
							{% include svg.html type='behance' %}
						</a>
					</div>
				</div>
			</div>
			<div class="footer__close" js-footer-close>
				{% include svg.html type='x' %}
			</div>
		</div>
	</div>
</footer>
