
<div js-index-content="journal">
	<div class="content container">
		<div class="row">
			<div class="content-navbar-grid-spacer">&nbsp;</div>
			<div class="index-journal">
				{% assign posts = site.journals %}

				{% for post in posts reversed %}
				    {% capture month %}{{ post.date | date: '%Y %b' }}{% endcapture %}
				    {% capture nmonth %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}
					{% assign images = post['images'] %}

				    {% if month != nmonth %}
						<div class="index-journal__month" js-scrollspy="{{ post.date | date: '%Y-%B' }}">
					{% endif %}


					{% capture id %}{{ post.date | date: '%Y-%B' }}-{{ post.title }}{% endcapture %}
					<div class="index-journal__journal {% if images.size > 0 %}with-image {% endif %}">
						<div class="index-journal__header">
							<div class="index-journal__date">
								{{ post.date | date: "%B %d %Y" }}
							</div>
							{% unless post['hide-title'].size > 1 %}
								<h1 class="index-journal__title">
									{{ post.title }}
								</h1>
							{% endunless %}
						</div>
						<div class="index-journal__hero-offset">
							<div class="index-journal__hero-img" data-responsive-image-dimensions="{{ post.image_dimensions | default: "450x300" }}">
								<img class="lazyload" data-src="{{ post['image'] }}" />
							</div>
						</div>

						{% if post.content.size > 5 %}
							<div class="row">
								<div class="index-journal__content">
									{{ post.content }}
								</div>
							</div>
						{% endif %}

						{% if images.size > 0 %}
							{% for image in images %}
								{% if image.image != '' %}
									<div class="index-journal__img-offset">
										<div class="index-journal__img " data-responsive-image-dimensions="{{ image.dimensions | default: "450x300" }}">
											<img class="lazyload" data-src="{{ image.image }}" alt="{{ image.alt | default: '' }}" />
										</div>
									</div>
								{% endif %}
							{% endfor %}
						{% endif %}
					</div>
				    {% if month != nmonth %}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="global-contact-overlay-spacer">&nbsp;</div>
	<div js-show-contact-info-if-visible>&nbsp;</div>
</div>
