
<div class="studio" js-index-content="studio">
	<div class="studio__spacer">
		&nbsp;
	</div>
	<div class="studio__content" js-controller="studioContent">
		<div class="relative">
			<div class="studio__locations">
				<div class="studio__location" js-controller="studioLocation" js-args="{location: 'nyc'}">
					<div class="studio__city">
						New York, USA
					</div>
					<div class="studio__day-and-time">
						<div class="studio__day" js-date>
							Thursday April 28
						</div>
						<div class="studio__time" js-time>
							12:00pm
						</div>
					</div>
				</div>
				<div class="studio__location" js-controller="studioLocation" js-args="{location: 'sydney'}">
					<div class="studio__city">
						Sydney, Australia
					</div>
					<div class="studio__day-and-time">
						<div class="studio__day" js-date>
							Fri April 29
						</div>
						<div class="studio__time" js-time>
							1:59am
						</div>
					</div>
				</div>
			</div>

			{% include studio_manifesto.html %}
			{% include studio_different.html %}
			{% include studio_what.html %}
			{% include studio_team.html %}
			{% include studio_clients.html %}

			<div class="global-contact-overlay-spacer">&nbsp;</div>
			<div js-show-contact-info-if-visible>&nbsp;</div>


		</div>
	</div>
</div>
