{% comment %}
<div class="navbar" js-controller="navbar">
	<div class="navbar__column navbar__column--2" js-navbar-primary>
		<div class="navbar__logo">
			<a href="/">
				{% include svg.html type='logo--word' %}
			</a>
		</div>
		<div class="navbar__valign" js-navbar-primary-valign>

			<a class="navbar__link" href="">
				Work
			</a>
			<a class="navbar__link" href="">
				Studio
			</a>
			<a class="navbar__link" href="">
				Journal
			</a>
		</div>
	</div>
	<div class="navbar__column navbar__column--2 navbar__column--projects" js-navbar-secondary>
		<div class="navbar__secondary" js-navbar-secondary-valign>
			{% assign projects = site.projects | sort: "position" %}
			{% for project in projects %}
				<a class="navbar__link" href="" js-navbar-project="{{ project.title | slugify }}">
					{{ project.title }}
				</a>
			{% endfor %}
		</div>
	</div>
	<!-- 
	<div class="navbar__column navbar__column--2 navbar__column--studio" js-navbar-secondary>
		<div class="navbar__secondary" js-navbar-secondary-valign>
			<a class="navbar__link" href="" js-navbar-project="{{ project.title | slugify }}">
				Approach
			</a>
		</div>
	</div>
	<div class="navbar__column navbar__column--2 navbar__column--journal" js-navbar-secondary>
		<div class="navbar__secondary" js-navbar-secondary-valign>
			<a class="navbar__link" href="">
				Journal X
			</a>
		</div>
	</div>-->
</div>
{% endcomment %}
<div class="navbar" js-controller="navbar2">
	<div class="navbar__logo" js-navbar-logo>
		<a href="/">
			{% include svg.html type='logo--word' %}
		</a>
	</div>
	<div class="" js-wrapper>
		<div class="navbar__item" js-item-with-dropdown>
			<div class="navbar__label" js-item-label js-args="{preventAlign: true, overlay: 'projects'}">Work</div>
			<div class="navbar__dropdown" js-item-dropdown>
				{% assign projects = site.projects | sort: "position" %}
				{% for project in projects %}
					<div class="navbar__item">
						<div class="navbar__label" js-item-label js-navbar-project="{{ project.title | slugify }}" js-args="{overlay: 'projects'}" js-scrollspy-nav="{{ project.title | slugify }}">
							{{ project.title }}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="navbar__item" js-item-with-dropdown>
			<div class="navbar__label" js-item-label js-args="{preventAlign: true, overlay: 'studio'}" js-navbar-studio>Studio</div>
			<div class="navbar__dropdown" js-item-dropdown>
				<div class="navbar__item" js-item-with-dropdown>
					<div class="navbar__label" js-item-label js-args="{overlay: 'studio'}" js-scrollspy-nav="manifesto">Manifesto</div>
				</div>
				<div class="navbar__item" js-item-with-dropdown>
					<div class="navbar__label" js-item-label js-args="{overlay: 'studio'}" js-scrollspy-nav="team">Team</div>
				</div>
				<div class="navbar__item" js-item-with-dropdown>
					<div class="navbar__label" js-item-label js-args="{overlay: 'studio'}" js-scrollspy-nav="services">Services</div>
				</div>
				<div class="navbar__item" js-item-with-dropdown>
					<div class="navbar__label" js-item-label js-args="{overlay: 'studio'}" js-scrollspy-nav="clients">Clients</div>
				</div>
				<!-- <div class="navbar__dropdown"  js-item-dropdown>
					<div class="navbar__item">
						<div class="navbar__label" js-item-label>Jack Erwin</div>
					</div>
					<div class="navbar__item">
						<div class="navbar__label" js-item-label>Some Project</div>
					</div>
					<div class="navbar__item">
						<div class="navbar__label" js-item-label>Leader Bag</div>
					</div>
				</div>
				-->
			</div>
		</div>
		<div class="navbar__item" js-item-with-dropdown>
			<div class="navbar__label" js-item-label js-item-label js-args="{preventAlign: true, overlay: 'journal'}">Journal</div>
			<div class="navbar__dropdown" js-item-dropdown>
				{% assign posts = site.journals %}
				{% for post in posts reversed %}
				    {% capture month %}{{ post.date | date: '%Y %b' }}{% endcapture %}
				    {% capture nmonth %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}
				    {% if month != nmonth %}
						<div class="navbar__item">
							<div class="navbar__label" js-item-label js-args="{overlay: 'journal'}" js-scrollspy-nav="{{ post.date | date: '%Y-%B' }}">
								{{post.date | date:"%B"}}
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
