<!--
<ul>
	<li>Module type:{{ module.type }}</li>
	<li>Module data {{ module }}</li>
</ul>
-->
{% capture cls %}module-{{ module.type }}{% endcapture %}
<div class="module {{ cls }} {{ cls }}--{{ module.variation }}">
	{% case module.type %}
	{% when 'image' %}
		{% if module.images %}
			{% if module.images.size > 1 %}
				{% for image in module.images %}
					<div class="{{ cls }}__{{ module.images.size }}up">
						<img src="{{ image }}" />
					</div>
				{% endfor %}
			{% else %}
				<img src="{{ module.image }}" />
			{% endif %}
		{% endif %}
	{% when 'text' %}
		<div class="module-text__excerpt">

			{{ module.excerpt | default: "" }}
			<div class="module-text__view-full" js-index-view-full-project>
				View Full Project
			</div>
		</div>
		{% if module.body %}
			<div class="module-text__body">
				{{ module.body | default: "" | markdownify }}
			</div>
		{% endif %}
	{% endcase %}
</div>
