<!--
<ul>
	<li>Module type:{{ module.type }}</li>
	<li>Module data {{ module }}</li>
</ul>
-->
{% capture cls %}module-{{ module.type }}{% endcapture %}
<div class="module {{ cls }} {{ cls }}--{{ module.variation }}">
	{% case module.type %}
	{% when 'image' %}
		<div class="m-hero">
			<img src="{{ module.image }}" />
		</div>
	{% when 'text' %}
		<div class="module-text__excerpt">
			{{ module.excerpt }}
			<div class="module-text__view-full" js-index-view-full-project>
				View Full Project
			</div>
		</div>
		<div class="module-text__body">
			{{ module.body | markdownify }}
		</div>
	{% endcase %}
</div>
