<section class="studio__services"  js-scrollspy="different">
	<div class="style-studio-header  studio__service-header style-studio-header--different">
		— What Makes Us Different
	</div>
	<div class="studio__services-column">
		<div class="studio__service-group">
			<p>
				<span class="studio__service-title">
					In the Trenches.
				</span>
				Our time spent in-house has given us insights into the customer feedback loop that many agencies never get access to. Launching award winning product lines with some of the most innovative marketing, sales, design and operations teams has taught us the complex balancing act of brand and business
			</p>
		</div>

		<div class="studio__service-group">
			<p>
				<span class="studio__service-title">
					New York City + Sydney.
				</span>
				Travel is a key part of how we operate and the brands and products we create reflect that. And offices on directly opposite sides of the world means our team literally works around the clock.
			</p>
		</div>
		<div class="studio__service-group">
			<p>
				<span class="studio__service-title">
					Skin In The Game.
				</span>
				We've built our own brands from the ground up. And we’re still doing it. We've had successes, but more importantly failures. We’ve bounced back bigger and badder than ever. We feel your pain and understand the ever-changing landscape because we live and learn in it everyday.
			</p>
		</div>
		<div class="studio__service-group">
			<p>
				<span class="studio__service-title">
					Product.
				</span>
				At the core of everything we do is product design, and while the products we design run the gamut from fashion accessories and fragrance bottles to furniture and VR headsets, the one constant is our process and ability to represent a brand's essence in the physical form.
			</p>
		</div>
	</div>
</section>