
<section class="studio__services"  js-scrollspy="team">
	<div class="style-studio-header  studio__service-header style-studio-header--different">
		— Who We Are
	</div>
	<div class="studio__services-column">
		<div class="studio__service-group">
			<img class="studio__team-img lazyload" data-src="/static/img/luke.gif" />
			<div class="studio__team-info">
				<span class="studio__team-title">
					Luke Flynn
				</span>
				Director of Brand
			</div>
			<p class="studio__team-bio">
				Luke is our brand specialist directing everything from the cultivation of a concept to the delivery of a website or campaign. Luke brought the knowledge he gathered working as Art Director for First &amp; Last Design and as a designer for NY based agency Common Space.

 				<!-- In 2013 Luke used the knowledge he gathered working as Art Director for Saturdays NYC and designing for NY based agencies Imprint Projects and Common Space — to co-found the accessories company Prize NYC. He also co-founded Paradise in 2014. -->
			</p>
		</div>
		<div class="studio__service-group">
			<img class="studio__team-img lazyload" data-src="/static/img/mark.gif" />
			<div class="studio__team-info">
				<span class="studio__team-title">
					Mark Hosny
				</span>
				Business Director
			</div>
			<p class="studio__team-bio">
				Mark is the key driver and advisor of business growth and development for Paradise on all internal and client based initiatives. As the CFO and COO of a fast growing technology solutions company he brings 12 years of experience managing teams through times of extreme growth.

			</p>
		</div>
		<div class="studio__service-group">
			<img class="studio__team-img lazyload" data-src="/static/img/jay.gif"  />
			<div class="studio__team-info">
				<span class="studio__team-title">
					Jay O'Neill
				</span>
				Director of Product
			</div>
			<p class="studio__team-bio">
				Jay spent more than 10 years on product design and management teams at action sports and lifestyle brands RVCA, Nixon, Billabong, Tsovet and RAEN before starting a freelance consultancy and becoming a partner in Leader Bag Co. where he is currently the Director of Product and Design. He co-founded Paradise in 2014.
			</p>

		</div>
		<div class="studio__service-group">
			<img class="studio__team-img lazyload" data-src="/static/img/yuji.gif">
			<div class="studio__team-info">
				<span class="studio__team-title">
					Yuji Tomita
				</span>
				Development Partner
			</div>
			<p class="studio__team-bio">
				Yuji manages all things digital and development at Paradise. He started a winery in Argentina and helped launch Grovemade, a wood products company based in Portland. He co-founded Paradise in 2014.
			</p>
		</div>
	</div>
</section>