<div class="studio__info" js-scrollspy="intro">
	<p>
		We are a full-service creative agency based in New York and Sydney. 
	</p>
	<p>
		We build brands people believe in for companies we believe in. 
	</p>


<!-- 	<p>
		Welcome to Paradise.
	</p>
	<p>
		One of the most widely accepted interpretations of Paradise is the Garden of Eden, home to Adam and Eve before they got kicked out for eating <span class="hover-effect">fruit</span>.

		But there are as many notions of Paradise as there are people dreaming of it. For some, Paradise is a <span class="hover-effect">hammock</span> swaying between palms on a deserted beach; for others, Paradise is an <span class="hover-effect">ice-cold</span> beer at 5:15 on a Friday, or dinner and a movie–<span class="hover-effect">minus the kids.</span> Some people even find Paradise while being struck with a <span class="hover-effect">pizza shovel</span> in the basement of a nightclub.
	</p>
	<p>
		For us, Paradise is our design and product studio. That’s what we called it– Paradise. And it happens to be our source of literal Paradise because it’s here that we’re able to take our knowledge and past experience working in-house for brands, and use it to create hard hitting and <span class="hover-effect">award winning</span> new work for others. Our background sets us apart: we’ve been <span class="hover-effect">in the trenches</span> and we know our shit. That’s Paradise.
	</p> -->
</div>