
<section class="studio__services" js-scrollspy="">
	<div class="style-studio-header studio__service-header">
		— How We Do It
	</div>
	<div class="studio__services-column">
		<div class="studio__service-group">
			<p>
				<span class="studio__service-title">
					We Discover.
				</span>
				We look at the big picture and how your brand fits into it. Where are you now and where do you want to be? You know your brand best–tell us about it. We listen. We nod. We hold our chins. We remove our glasses and suck on the stem. Then we blow your ever-lovin’ socks off.
			</p>
		</div>
		<div class="studio__service-group">
			<p>
				<span class="studio__service-title">
					We Strategize.
				</span>
				We take the big questions into consideration: how will you stand out? Who are you? Why does your company exist? Why do you exist? Do you exist? Is anything real? Where am I? Then we blow your ever-lovin’ socks off a second time.
			</p>
		</div>
		<div class="studio__service-group">
			<p>
				<span class="studio__service-title">
					We Play.
				</span>
				All the best ideas come from controlled chaos, and we are very good at controlled chaos. This is where experience makes way to intuition, and where truly original and compelling ideas are born. And if your feet are cold that’s because your socks just went missing again.
			</p>
		</div>
		<div class="studio__service-group">
			<p>
				<span class="studio__service-title">
					We Execute.
				</span>
				We build your BRAND in a way that makes it stand out. The brand has something to say and we help it say it loud. Next thing you know–BAM! Where’d your socks go?
			</p>
		</div>
	</div>
</section>
