<div class="studio__services studio__services--2up" js-scrollspy="services">
	<div class="studio__services-column">
		<div class="style-studio-header  studio__service-header">
			— What We Do
		</div>
	</div>
	<div class="studio__services-column">
		<div class="studio__service-clients">
			<a class="studio__service-client" target="_blank">
				Branding
			</a>
			<a class="studio__service-client" target="_blank">
				Art Direction
			</a>
			<a class="studio__service-client" target="_blank">
				Product Design
			</a>
			<a class="studio__service-client" target="_blank">
				Digital Design
			</a>
			<a class="studio__service-client" target="_blank">
				Development
			</a>
			<a class="studio__service-client" target="_blank">
				Naming
			</a>
			<a class="studio__service-client" target="_blank">
				Visual Identity
			</a>
			<a class="studio__service-client" target="_blank">
				Book Design
			</a>
			<a class="studio__service-client" target="_blank">
				Packaging
			</a>
		</div>
	</div>
</div>
