---
---
@font-face {
	font-family: 'Calibre';
	font-weight: normal;
	src: 
		url('/static/fonts/CalibreWeb-Light.eot?') format('eot'),
		url('/static/fonts/CalibreWeb-Light.woff') format('woff');
}
@font-face {
	font-family: 'Calibre';
	font-weight: 500;
	src: 
		url('/static/fonts/CalibreWeb-Semibold.eot?') format('eot'),
		url('/static/fonts/CalibreWeb-Semibold.woff') format('woff');
}

@font-face {
	font-family: 'Domaine';
	font-weight: normal;
	src: 
		url('/static/fonts/DomaineDisplayCondensedWeb-Medium.eot?') format('eot'),
		url('/static/fonts/DomaineDisplayCondensedWeb-Medium.woff') format('woff');
}


/* SCSS Mixins */


@mixin fulljustify {
	text-align: justify;
	&:after {
		content: "";
		display: inline-block;
		width: 100%;
	}
}

@mixin calc($key, $value) {
	/* Firefox */
	#{$key}: -moz-calc(#{$value});
	/* WebKit */
	#{$key}: -webkit-calc(#{$value});
	/* Opera */
	#{$key}: -o-calc(#{$value});
	/* Standard */
	#{$key}: calc(#{$value});
	/* IE-OLD */
	#{$key}: expression(#{$value});
}


@mixin clearfix {
	&:before,
	&:after {
			content: " "; /* 1 */
			display: table; /* 2 */
	}
	&:after {
			clear: both;
	}

}

@mixin inline-block {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
}

@mixin transition($x...) {
	-webkit-transition: $x;
	-moz-transition: $x;
	-ms-transition: $x;
	-o-transition: $x;
	transition: $x;
}

@mixin experimental($key, $value...) {
	-webkit-#{$key}: $value;
	-moz-#{$key}: $value;
	-ms-#{$key}: $value;
	-o-#{$key}: $value;
	#{$key}: $value;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}


@include keyframes(slotMachine) {
  // slide down / slide back from above.
  0% {
    @include experimental(transform, translateY(0));
    opacity: 1;
  }
  49% {
    @include experimental(transform, translateY(-30px));
    opacity: 0;
    @include experimental(animation-timing-function, steps(1, end));
  }
  50% {
    @include experimental(transform, translateY(30px));
    opacity: 0;
  }
  100% {
    @include experimental(transform, translateY(0));
    opacity: 1;
  }
}

@include keyframes(fadeInDown) {
  0% {
    opacity: 0;
    @include experimental(transform, translate3d(0, -100%, 0));
  }

  100% {
    opacity: 1;
	@include experimental(transform, None);
  }
}

@include keyframes(fadeInUp) {
  0% {
    opacity: 0;
    @include experimental(transform, translate3d(0, 100%, 0));
  }

  100% {
    opacity: 1;
	@include experimental(transform, None);
  }
}

.animation-slot-machine.animated {
	@include animation(slotMachine .3s linear 0s);
}


// utils
@mixin inherit {
	color: inherit;
	text-decoration: inherit;
	&:visited {
		color: inherit;
		text-decoration: inherit;
	}
}

// simple responsive function. define widths later.
@mixin responsive($bp) {
	@if $bp == 'mobile' {
		@media only screen and (max-width: 900px) {
			@content;
		}
	} @else {
		@media only screen and (min-width: 900px) {
			@content;
		}
	}
}

// simple platform based rules like .is-mobile, .is-safari, etc.
@mixin platform($cls) {
	.#{$cls} & {
		@content;
	}
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder { /* Firefox 18- */
        @content;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}




// grid system
$grid_columns: 12;
$touch-gutter: 20px;
$desktop-gutter: 80px;
$mobile-gutter: 20px;



@mixin container {
	margin: 0 auto;
	max-width: 1800px;
	padding-left: $desktop-gutter;
	padding-right: $desktop-gutter;
	clear: both;
	@include clearfix;

	@include responsive(mobile) {
		padding-left: $mobile-gutter;
		padding-right: $mobile-gutter;
	}
}

.container {
	@include container;
}

.relative {
	position: relative;
}

@function calculate-width($col, $grid_columns: $grid_columns) {
	@return ($col/$grid_columns) * 100%;
}

@mixin column($col, $grid_columns: $grid_columns) {
	width: calculate-width($col, $grid_columns);
	float: left;
}

@mixin column-no-pad($col, $grid_columns: $grid_columns) {
	width: calculate-width($col, $grid_columns);
	float: left;
}

@mixin isolation-span($col-span, $start) {
	/*
	Isolation span: give column span width and start position.
	*/
	$start: $start - 1;
	@include column($col-span);
	margin-left: calculate-width($start);
	margin-right: -100%;
}

@mixin isolation-span-no-pad($col-span, $start) {
	$start: $start - 1;
	@include column-no-pad($col-span);
	margin-left: calculate-width($start);
	margin-right: -100%;
}

@for $i from 1 through 12 {
	.g#{$i} {
		@include column($i);
	}
	.g#{$i}-no-pad {
		@include column-no-pad($i);
	}

	@for $start from 1 through 12 {
		.isolation-g#{$i}-#{$start} {
			@include isolation-span($i, $start);
		}
		.isolation-g#{$i}-#{$start}-no-pad {
			@include isolation-span-no-pad($i, $start);
		}
	}
}

@for $grid-columns from 4 through 12 {
	@for $col from 1 through $grid-columns {
		.col-#{$col}-#{$grid-columns} {
			@include column($col, $grid-columns);
		}
	}
}

@mixin row() {
	@include clearfix;
	$gutter: -1 * $touch-gutter/2;
	margin-left: $gutter;
	margin-right: $gutter;
}
.row, .grid {
	@include row;
}
.row-no-pad {
	@include clearfix;
}



// global
html, body {
	padding: 0;
	margin: 0;
	text-align: left;
	min-height: 100%;
	// min-width: 600px;
}
* {
	@include experimental(box-sizing, border-box);
	margin: 0;
}



$color-1: #f3bcaa;
$color-2: #b6d7df;
$color-3: #bed7c3;

$color: $color-1;

@include keyframes(bgcolors) {
  // slide down / slide back from above.
  0% {
  	background-color: $color-1;
  }
  33% {
  	background-color: $color-2;
  }
  66% {
  	background-color: $color-3;
  }
  100% {
  	background-color: $color-1;
  }
}
@include keyframes(bordercolors) {
  // slide down / slide back from above.
  0% {

  	border-color: $color-1;
  }
  33% {
  	border-color: $color-2;
  }
  66% {
  	border-color: $color-3;
  }
  100% {
  	border-color: $color-1;
  }
}

@include keyframes(width) {
  // slide down / slide back from above.
  0% {
  	width: 0%;
  }
  100% {
  	width: 100%;
  }
}


@include keyframes(fadeOut) {
  // slide down / slide back from above.
  0% {
  	opacity: 1;
  }
  99% {
  	opacity: 0;
  }
  100% {
  	opacity: 0;
  	display: none;
  	pointer-events: none;
  }
}

@mixin style-body {
	font-family: "Calibre", sans-serif;
	letter-spacing: .03em;
}

@mixin style-serif {
	font-family: "Domaine", sans-serif;
	letter-spacing: .02em;
}

$default-easing: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$animation-duration: 15s;

@mixin colorAnimation() {
	@include animation(bgcolors $animation-duration $default-easing 0s);
	@include experimental(animation-iteration-count, infinite);
}


body {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	@include style-body;
	text-align: left;
	background: black;
	color: white;

	@media screen and (max-width: 768px) {
		padding-bottom: 60px;
	}
}

.container {
	padding: 40px;
	@media screen and (max-width: 768px) {
		padding: 20px;
	}
}

.splash-marquee {
	position: relative;
	.swiper-wrapper, .swiper-slide {
		overflow: hidden;
	}
	@media screen and (max-width: 768px) {
		margin-left: -20px;
		margin-right: -20px;
		margin-top: -20px;
	}
	// &.-short {
	// 	height: 300px;
	// }

	// .swiper-wrapper {
	// 	height: auto;
	// }
	.swiper-slide {
		// height: 400px;
		// padding-bottom: 35%;
		background: rgba(white, .1);
		img {
			width: 100%;
		}
	}
	.swiper-scrollbar {
		height: 7px;
		@media screen and (max-width: 768px) {
			height: 4px;
		}
		background: transparent;
		left: 0;
		right: 0;
		width: 100%;
		bottom: 0;
		border-radius: 0;
		cursor: pointer;
		background: black;
	}
	.swiper-scrollbar-drag {
		background: white;
		border-radius: 0;
		cursor: move;
	}
}


.paradise-intro {
	margin-top: 40px;
	margin-bottom: 80px;
	@media screen and (max-width: 768px) {
		margin-top: 20px;
		margin-bottom: 40px;
	}
	position: relative;
	&.is-sticky {
		@media screen and (min-width: 768px) {
			.paradise-hello {
				position: fixed;
				top: 100px;
				right: 40px;
				bottom: auto;
			}
		}
	}
}
	.paradise-intro__gif {
		// height: 90px;
		width: 55%;
	}
	.paradise-hello {
		position: absolute;
		bottom: 0;
		right: 0;
		@include style-serif;
		font-size: 20px;
		a {
			line-height: 40px;
			@media screen and (min-width: 768px) {
				position: absolute;
				line-height: normal;
			}
			width: 68px;
			bottom: -5px;
			right: 0;
			color: white;
			text-decoration: none;
			padding-bottom: 8px;
			&:hover {
				opacity: .8;
				border-bottom: 1px solid white;
			}
			border-bottom: 1px solid transparent;
			padding-bottom: 8px;
			@include transition(all .2s ease 0s);
			// &:after {
			// 	content: "";
			// 	position: absolute;
			// 	bottom: 0;
			// 	border-bottom: 1px solid white;
			// 	width: 100%;
			// 	left: 0;
			// 	right: 0;
			// 	opacity: 0;
			// }
		}

		@media screen and (max-width: 768px) {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			height: 40px;
			line-height: 40px;
			background: white;
			text-align: center;
			z-index: 10;
			a {
				color: black;
			}
		}
	}

.paradise-body {
	margin-bottom: 80px;
	@include clearfix;
	@include style-body;

	font-size: 26px;
	/*
	26px at 1240+
	22px at 1239-1024
	18px at 1023-768
	16px at -767
	*/

	@media screen and (max-width: 768px) {
		font-size: 16px;
		margin-bottom: 60px;
	}
	@media screen and (min-width: 768px) {
		font-size: 18px;
	}
	@media screen and (min-width: 1024px) {
		font-size: 22px;
	}
	@media screen and (min-width: 1240px) {
		font-size: 26px;		
	}

	@include transition(opacity .3s ease 0s);
	a {
		color: white;
		text-decoration: underline;
		&:hover {
			opacity: .8;
		}
	}
}
	.paradise-body__col {
		width: 75%;
		@media screen and (max-width: 768px) {
			width: 100%;
		}

	}

.paradise-offerings {
	@include clearfix;
	margin-bottom: 160px;
	font-size: 14px;
	@media screen and (max-width: 768px) {
		font-size: 12px;
		margin-bottom: 120px;
	}
}
	.paradise-offerings__col {
		@include column(2);
		@media screen and (max-width: 1023px) {
			@include column(3);
		}
		@media screen and (max-width: 768px) {
			@include column(6);
			&:last-child {
				margin-top: 40px;
			}
		}
	}
		.paradise-offerings__heading {
			font-weight: 500;
		}

.footer {
	@include clearfix;
}
	.email {
		// @include isolation-span(6, 1);
		width: 100%;
		@media screen and (min-width: 768px) {
			width: 636px;
		}
		float: left;
		position: relative;
		&.-is-valid {
			.email__checkmark {
				opacity: 1;
			}
		}
	}
		.email-error {
			margin-top: 5px;
			font-size: 14px;
			position: absolute;
		}
		.email__checkmark {
			opacity: 0;
			@include transition(opacity .3s ease 0s);
			position: absolute;
			right: 0;
			width: 20px;
			height: 20px;
			bottom: 6px;
			cursor: pointer;
		}

		.email__input {
			&:focus {
				outline: none;
			}
			@include placeholder {
				// color: white;
			}
			background: transparent;
			-webkit-appearance: none;
			font-size: 20px;
			@include style-serif;
			color: white;
			border: none;
			padding-bottom: 6px;
			border-bottom: 1px solid white;
			width: 100%;
		}
	.social {

		// @include isolation-span(3, 13-3);
		// @include calc(margin-left, "100% - 267px");
		width: 267px;
		float: right;
		@media screen and (max-width: 1023px) {
			clear: both;
			float: none;
			width: 100%;
		}
	}
		.social__icons {
			@media screen and (max-width: 768px) {
				@include fulljustify;
			}
			margin-bottom: (30px-8px); // 30 is the desired distance. 8 is existing padding.
		}
			.social__icon {
				@media screen and (max-width: 1023px ) {
					margin-top: 30px;
				}
				@media screen and (min-width: 768px) and (max-width: 1023px) {
					margin-right: 30px;
				}
				display: inline-block;
				font-size: 20px;
				@include style-serif;
				color: white;
				text-decoration: none;
				opacity: 1;
				&:active, &:visited {
					color: white;
					text-decoration: none;
				}
				&:hover {
					opacity: .8;
					&:after {
						opacity: 1;
					}
				}
				position: relative;
				padding-bottom: 8px;
				@include transition(all .2s ease 0s);
				&:after {
					@include transition(all .2s ease 0s);
					opacity: 0;
					content: "";
					position: absolute;
					bottom: 0;
					border-bottom: 1px solid white;
					width: 100%;
					left: 0;
					right: 0;
				}
			}



// // responsive
// @media only screen and (max-width: 320px) {
// 	.paradise-intro {
// 		display: none;
// 	}
// 	.paradise-intro.mobile {
// 		display: block;
// 	}
// }

// // iphone landscape
// @media only screen
// and (min-device-width : 320px)
// and (max-device-width : 568px)
// and (orientation : landscape) {
// 	.paradise-intro {
// 		display: none !important;
// 	}
// 	.paradise-contact {
// 		bottom: 20px;
// 	}
// 	.paradise-logo {
// 		top: 20px;
// 	}
// 	body {
// 		height: 600px;
// 	}
// }