<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
{% include head.html %}
<script type="text/javascript">
	// # Design calls for an adaptive site, on a platform that doesn't support it. We'll use a JS redirect.
	$(function() {
		function getMobileURL() {
			// try matching known urls
			var hash = window.location.hash;
			var url = '/mobile_index.html';
			if (hash) {
				var hash = hash.substr(1);
				var splits = hash.split(':');
				var slug = splits[0];

				var scrollSpyNav = $("[js-scrollspy-nav=\"" + slug + "\"]");
				if (scrollSpyNav.length) {
					var args = eval('('+scrollSpyNav.attr('js-args')+')');
					if (args.mobileURL) {
						url = args.mobileURL;
					}
				}
			}
			return url
		}
		if (window.mobilecheck()) {
			window.location.href = getMobileURL();
		} else {
			console.log(getMobileURL());
		}
	})
</script>
</head>
	<body class="layout-default {{ page.body_class }}" js-controller="layoutDefault">
		<!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		{% include navbar.html %}
		{{ content }}
		{% include footer.html %}
		{% include footer_scripts.html %}
		{% comment %}{% include debug_bar.html %}{% endcomment %}
	</body>
</html>

