<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
{% include head.html %}	

	<body>
		<!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		{% include navbar.html %}
		<div class="content-wrapper">
			<div class="content-grid-spacer">&nbsp;</div>
			<div class="content">
				{{ content }}
			</div>
		</div>
		{% include footer.html %}
		{% include footer_scripts.html %}		



		<script>
			$(function() {
				$("[js-debug-bar-toggle]").on('click', function() {

					var $container = $(".grid-debug-container");
					if ($container.is(':visible')) {
						$container.fadeOut();
					} else {
						$container.fadeIn();
					}
				});
			})
		</script>
		<div class="debug-bar">
			<div js-debug-bar-toggle>
				Grid Debug
			</div>
		</div>
		<div class="grid-debug-container">
			{% include grid-debug.html %}
			{% include grid-debug-bg.html %}
		</div>
	</body>
</html>

