<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
	{% include head.html %}	
	<script type="text/javascript">
		// fake adaptive
		if (!window.mobilecheck()) {
			if (window.location.pathname.indexOf('project') > 0) {
				var projectName = window.location.pathname.split('/')[2].split('.')[0];
				window.location.href = '/#' + projectName;
			} else {
				window.location.href = '/';
			}
		}
	</script>
</head>
	<body>
		<!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		{% include navbar.html mobile='true' %}
		{{ content }}
		{% include footer_scripts.html %}		
	</body>
</html>

