<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
	{% include head.html %}
	<script type="text/javascript">
		// fake adaptive
		if (!window.mobilecheck()) {
			if (window.location.pathname.indexOf('project') > 0) {
				var projectName = window.location.pathname.split('/')[2].split('.')[0];
				window.location.href = '/#' + projectName;
			} else {
				window.location.href = '/';
			}
		}
	</script>
</head>
<body class="layout-mobile">
	<!--[if lt IE 8]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<div class="mobile-navbar-height-retainer"></div>
	{% include navbar.html mobile=true %}
	<div class="mobile-overflow-hide">
		<div class="fixed-content-wrapper">
			{{ content }}

			<div class="mobile">
				<div class="mobile__contact">
					<div class="mobile__contact-header">
						Contact
					</div>
					<a class="mobile__email-address" href="mailto:hello@studioparadise.com">
						hello@studioparadise.com
					</a>
					<div class="mobile__addresses">
						<div class="mobile__address">
							Sydney<br>
							115 Regent St<br>
							Chippendale NSW<br>
							Australia 2008<br>
							+61421349151<br>
						</div>
						<div class="mobile__address">
							New York<br>
							153 Centre St <br>
							Suite 206<br>
							New York NY 10013  <br>
							+1 917 363 8971<br>
						</div>
					</div>
					<div class="mobile-social">
						<div class="mobile-social__item">
							<a href="http://instagram.com/{{ site.instagram }}" target="_blank">
								{% include svg.html type='instagram' %}
							</a>
						</div><div class="mobile-social__item">
							<a href="http://linkedin.com/company/{{ site.linkedin }}" target="_blank">
								{% include svg.html type='linkedin' %}
							</a>
						</div><div class="mobile-social__item mobile-social__item--behance">
							<a href="http://behance.net/{{ site.behance }}" target="_blank">
								{% include svg.html type='behance' %}
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	{% include footer_scripts.html %}
</body>
</html>

