---
layout: mobile
---

{% assign project = page %}
<div class="mobile">
	{% for module in project.modules %}
		{% include render_module.html mobile=true %}
	{% endfor %}

	<div class="mobile-more-projects">
		<div class="mobile-more-projects__title">
			More Projects
		</div>
		<div class="mobile-more-projects__projects">
			{% assign projects = site.projects | sort: "position" %}
			{% for project in projects %}
				{% if project.url != page.url %}
					<a class="mobile-project" href="{{ project.url }}">
						{% for module in project.modules limit: 1 %}
							{% include render_module.html mobile=true %}
						{% endfor %}
					</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>